@font-face {
  font-family: 'Fustat-Light';
  src: url('/Fustat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat-Medium';
  src: url('/Fustat-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat-Regular';
  src: url('/Fustat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat-SemiBold';
  src: url('/Fustat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat-Bold';
  src: url('/Fustat-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat-ExtraBold';
  src: url('/Fustat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


:focus {
  outline: none !important;
}

.chakra-select__menu {
  position: fixed !important; /* Ensure it's not affected by parent positioning */
  bottom: 0 !important;      /* Align to the bottom of the viewport */
  width: 100% !important;    /* Full width */
  max-height: 50vh;          /* Limit the height to half of the viewport */
  overflow-y: auto;          /* Allow scrolling within the dropdown */
}